<div ng-controller="imagesController">
		<div class="sort">
			<div class="row">
				<div class="large-12 columns sortLinks">
					<a href="#" ng-click="imageSort('all')" class="active button large" tabindex="0">All Images</a>
					<a href="#" ng-click="imageSort('layered')" class="active button large" tabindex="0">Layered</a>
					<a href="#" ng-click="imageSort('blueberries')" class="button large" tabindex="0">Blueberries</a>
					<a href="#" ng-click="imageSort('brightRocks')" class="button large" tabindex="0">Bright Rocks</a>
				</div>
			</div>
		</div>

		<div class="images">
			<div class="row">
				<div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".image"}' id="imageContainer" class="large-12 columns" infinite-scroll="images.nextPage();addthis.button('.addthis_button_compact');" infinite-scroll-distance="1" infinite-scroll-disabled='images.busy'>
					<div image-tile class="image {{image | getSizeClass}} {{image | getIsSortedByFeatured}}" ng-repeat="image in images.items">
						<img alt="{{image.message}}" tabindex="0" ng-mouseover="showOverlay(image)" ng-enter="openImageModal(image, $index)" ng-click="openImageModal(image, $index)" ng-src="{{image.url}}" ng-src-responsive="[['(max-width:40em)', '{{image.url}}']]"/>
						<div class="imageOverlay">
							<div class="overlay" ng-click="openImageModal(image, $index)" tabindex="0"></div>
						</div>
					</div>
				</div>
				<div id="loadingHolder" class="large-12 columns">
					<div id="loadMore">{{ loadingText }}</div>
				</div>

				<!-- Image modal template -->
				<script type="text/ng-template" id="imageModal.html">
					<div id="imageModal" tabindex="0">
						<div class="imageModalHeader">

						</div>
						<div class="imageModalBody">
							<img ng-src="{{modalImage.url}}" alt="{{modalImage.message}}" />
							<div class="imageModalStats">
								<span class="right"><img src="content/images/clock.png" alt="Clock icon" /><em>Posted {{modalImage.daysAgo}}</em></span>
							</div>
							<p class="imageModalCaption">{{modalImage.message}}</p>
						</div>
					</div>
					<div class="hide-for-touch">
						<div class="leftArrow" ng-hide="hideLeft">
							<a ng-enter="showPrevImage(modalImage)" ng-click="showPrevImage(modalImage)" tabindex="0"><img src="content/images/left_arrow.png" alt="Left arrow" /></a>
						</div>
						<div class="rightArrow" ng-hide="hideRight">
							<a ng-enter="showNextImage(modalImage)" ng-click="showNextImage(modalImage)" tabindex="0"><img src="content/images/right_arrow.png" alt="Right arrow" /></a>
						</div>
					</div>
					<div class="phoneCloseModalButton button show-for-touch" ng-click="cancel()" tabindex="0">Close</div>
				</script>
			</div>
		</div>
	</div>