<div ng-controller="imagesController">
		<div class="sort">
			<div class="row">
				<div class="large-12 columns sortLinks">
					<a href="#" ng-click="imageSort('recent')" class="active button large" tabindex="0">Most Recent</a>
					<a href="#" ng-click="imageSort('salutes')" class="button large" tabindex="0">Most Salutes</a>
					<a href="#" ng-click="imageSort('featured')" class="button large featuredButton" tabindex="0">Featured</a>
					<a href="#" ng-click="imageSort('trending')" class="button large" tabindex="0">Trending</a>
				</div>
			</div>
		</div>

		<div class="images">
			<div class="row">
				<div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".image"}' id="imageContainer" class="large-12 columns" infinite-scroll="images.nextPage();addthis.button('.addthis_button_compact');" infinite-scroll-distance="1" infinite-scroll-disabled='images.busy'>
					<div image-tile class="image {{image | getSizeClass}} {{image | getIsSortedByFeatured}}" ng-repeat="image in images.items">
						<img alt="{{image.message}}" tabindex="0" ng-mouseover="showOverlay(image)" ng-enter="openImageModal(image, $index)" ng-click="openImageModal(image, $index)" ng-src="https://s3.amazonaws.com/realwarriors_user_processed_images/{{image.url}}{{image | getSize}}.jpg" ng-src-responsive="[['(max-width:40em)', 'https://s3.amazonaws.com/realwarriors_user_processed_images/{{image.url}}_m.jpg']]"/>
						<div class="saluteOverlay">
							<img alt="Salute star icon" ng-src="{{image | getStarImage}}" /><em>{{ image.likes }}</em>
						</div>
						<div class="imageOverlay">
							<div class="overlay" ng-click="openImageModal(image, $index)" tabindex="0"></div>
							<a ng-click="salute(image)" tabindex="0">
								<img class="saluteButton {{image | getSaluteOpacity}}" src="content/images/salute.png" alt="Salute this image" />
							</a>
							<div addthis-toolbox url="{{image.shortURL}}" addthis:url="{{image.shortURL}}" addthis:title="Real Strength" imageid="{{image.id}}" class="addthis_toolbox addthis_default_style addthis_32x32_style" id="addThis{{image.id}}">
								<a class="addthis_button_compact" ng-click="resetAddThis()" tabindex="0">
									<img class="shareButton" src="content/images/share.png" alt="Share this image" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div id="loadingHolder" class="large-12 columns">
					<div id="loadMore">{{ loadingText }}</div>
				</div>

				<!-- Image modal template -->
				<script type="text/ng-template" id="imageModal.html">
					<div id="imageModal" tabindex="0">
						<div class="imageModalHeader" >
							<a ng-mouseenter="expression"="modalSalute(modalImage)" ng-click="modalSalute(modalImage)"  tabindex="0" ><img ng-src="content/images/salute.png" class="{{modalImage | getSaluteOpacity}}" alt="Salute this image" /></a>
							<div addthis-modal-toolbox url="{{modalImage.shortURL}}" class="addthis_toolbox addthis_default_style addthis_32x32_style modalShareHolder">
								<a class="addthis_button_compact modalShare"><img ng-enter="share508()" class="shareButton" src="content/images/share.png" alt="Share this image" tabindex="0"/></a>
							</div>
						</div>
						<div class="imageModalBody">
							<img ng-src="https://s3.amazonaws.com/realwarriors_user_processed_images/{{modalImage.url}}_l.jpg" alt="{{modalImage.message}}" />
							<div class="imageModalStats">
								<span><img ng-src="{{modalImage | getModalStarImage}}" alt="Salute star icon" /><em>{{modalImage.likes}} Salutes</em></span>
								<span class="right"><img src="content/images/clock.png" alt="Clock icon" /><em>Posted {{modalImage.daysAgo}}</em></span>
							</div>
							<p class="imageModalCaption">{{modalImage.message}}</p>
						</div>
					</div>
					<div class="hide-for-touch">
						<div class="leftArrow" ng-hide="hideLeft">
							<a ng-enter="showPrevImage(modalImage)" ng-click="showPrevImage(modalImage)" tabindex="0"><img src="content/images/left_arrow.png" alt="Left arrow" /></a>
						</div>
						<div class="rightArrow" ng-hide="hideRight">
							<a ng-enter="showNextImage(modalImage)" ng-click="showNextImage(modalImage)" tabindex="0"><img src="content/images/right_arrow.png" alt="Right arrow" /></a>
						</div>
						<div class="reportImageLink hide-for-touch">
							<a ng-enter="modalReport(modalImage)" ng-click="modalReport(modalImage)" tabindex="0" ng-focus="keydown()">Report Image</a>
						</div>
					</div>
					<div class="phoneCloseModalButton button show-for-touch" ng-click="cancel()" tabindex="0">Close</div>
					<div class="reportImageButton show-for-touch text-center" id="last"  tabindex="0"><a>Report Image</a></div>
				</script>
			</div>
		</div>
	</div>