/* NASA Colors */
/* Primary Colors */
/* Accent Color */
/* Secondary Colors */
/* Fonts */
/* Section Heights */
/* Image sizes */
body {
  background: #E4E9EF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; }

.row {
  max-width: 72.5rem; }

.top-bar-holder {
  background: #000 !important; }
  .top-bar-holder nav {
    background: #000 !important; }
    .top-bar-holder nav ul li {
      background: #000 !important; }
      .top-bar-holder nav ul li a {
        background: #000 !important;
        color: #A5A6A7 !important;
        font-size: 13px; }

.logo {
  background: #738395;
  height: 134px;
  padding: 25.75px 0; }
  .logo img {
    height: 82.5px;
    width: 439px; }
  .logo .row span {
    margin-top: 58.5px;
    font-size: 24px;
    color: #FFF; }

.sort {
  background: #4A698E;
  height: 74px; }
  .sort .row {
    padding-top: 14px; }
    .sort .row * {
      font-weight: bold;
      font-size: 18px;
      height: 46px;
      line-height: 8px; }
    .sort .row .sortLinks a {
      padding-left: 26px;
      padding-right: 26px; }
    .sort .row .sortLinks a:not(.socialLink) {
      background: #E4E9EF;
      color: #4C4C4C; }
    .sort .row .sortLinks a:hover:not(.socialLink), .sort .row .sortLinks a.active {
      background: #738395;
      color: #A5A6A7; }
    .sort .row .socialLinks {
      display: inline; }
      .sort .row .socialLinks .socialLink {
        padding: 0; }
      .sort .row .socialLinks .iconRightMargin {
        margin-right: 10px; }

.images {
  background-image: url("/content/images/banner_bg.png");
  background-repeat: no-repeat;
  background-size: 100%; }
  .images #imageContainer {
    padding: 0 10px;
    margin-top: 16px;
    position: relative; }
    .images #imageContainer .image:first-child:not(.featuredImage) {
      width: 218px;
      height: 218px; }
    .images #imageContainer .image {
      width: 218px;
      height: 218px;
      margin: 5px;
      padding: 0 !important; }
      .images #imageContainer .image li {
        list-style: none; }
    .images #imageContainer .imageLarge {
      width: 446px;
      height: 446px; }
    .images #imageContainer .saluteOverlay {
      position: absolute;
      bottom: 5px;
      left: 5px;
      color: #E4E9EF;
      height: 16px;
      font-size: 12px;
      z-index: 50; }
      .images #imageContainer .saluteOverlay img {
        margin-right: 4px;
        margin-bottom: 4px;
        height: 12px;
        width: 12px; }
    .images #imageContainer .imageOverlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      cursor: zoom-in;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      width: 100%;
      height: 100%;
      text-align: center; }
      .images #imageContainer .imageOverlay .overlay {
        background: #000;
        opacity: 0.8;
        height: 100%; }
      .images #imageContainer .imageOverlay img {
        margin: 10px;
        display: inline;
        width: 87px;
        opacity: 1.0 !important;
        z-index: 50;
        position: absolute;
        top: 0; }
      .images #imageContainer .imageOverlay .saluted {
        opacity: 0.5 !important; }
      .images #imageContainer .imageOverlay .saluteButton {
        left: 0px; }
      .images #imageContainer .imageOverlay .shareButton {
        right: 0px; }
  .images #loadingHolder {
    padding: 0 10px; }
    .images #loadingHolder #loadMore {
      text-align: center;
      height: 32px;
      line-height: 32px;
      margin: 5px;
      background: #A5A6A7; }

.reveal-modal {
  background: #E4E9EF; }

.ngModalHolder {
  padding: 0;
  width: 40%;
  top: 1% !important; }

.reveal-modal:focus {
  outline: none !important; }

#imageModal {
  padding: 0;
  outline: none !important; }
  #imageModal .imageModalHeader {
    background: #A5A6A7;
    padding: 28px; }
    #imageModal .imageModalHeader .saluted {
      opacity: 0.5 !important; }
    #imageModal .imageModalHeader .modalShareHolder {
      display: inline; }
      #imageModal .imageModalHeader .modalShareHolder .modalShare img {
        float: right; }
  #imageModal .imageModalBody {
    padding: 28px; }
    #imageModal .imageModalBody .imageModalStats {
      color: #A5A6A7;
      margin-top: 5px; }
      #imageModal .imageModalBody .imageModalStats img {
        margin-right: 4px;
        margin-bottom: 4px;
        height: 18px;
        width: 18px; }
    #imageModal .imageModalBody .imageModalCaption {
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 26px; }

.leftArrow {
  position: absolute;
  top: 40%;
  left: -70px; }

.rightArrow {
  position: absolute;
  top: 40%;
  right: -70px; }

.phoneCloseModalButton {
  background: #6c665d;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px; }

/* Tablet screen */
@media only screen and (min-width: 40em) and (max-width: 946px) {
  .ngModalHolder {
    margin-left: 10%;
    width: 80%;
    min-height: 465px !important;
    position: absolute !important;
    overflow: hidden; }

  .reportImageButton {
    padding-bottom: 15px; } }
/* Phone screen */
@media only screen and (max-width: 40em) {
  .top-bar-holder nav {
    height: 32px; }
    .top-bar-holder nav ul li a {
      line-height: inherit; }

  .logo {
    height: auto; }
    .logo .row div {
      text-align: center; }
    .logo .row span {
      margin-top: 10px; }

  .sort {
    height: auto; }
    .sort .row {
      padding: 14px 0 9px; }
      .sort .row * {
        font-weight: bold;
        font-size: 18px;
        height: auto;
        line-height: 8px; }
      .sort .row .sortLinks a {
        padding: 10px 36px;
        margin-bottom: 5px;
        display: block; }
      .sort .row .socialLinks {
        display: none; }

  .ngModalHolder {
    margin-left: 10%;
    width: 80%;
    min-height: 465px !important;
    position: absolute !important;
    overflow-y: scroll; }

  .images {
    background: #E4E9EF;
    margin: 0 auto;
    max-width: 390px; }
    .images #imageContainer {
      padding: 0 10px;
      margin-top: 16px; }
      .images #imageContainer .image:first-child {
        width: 290px !important;
        height: 290px !important; }
      .images #imageContainer .image, .images #imageContainer .imageLarge {
        width: 290px;
        height: 290px;
        margin: 5px; }
        .images #imageContainer .image img, .images #imageContainer .imageLarge img {
          display: block; }
      .images #imageContainer .saluteOverlay img {
        display: inline-block; }

  #imageModal {
    padding: 0; }
    #imageModal .imageModalHeader {
      height: auto;
      padding: 10px; }
      #imageModal .imageModalHeader img {
        width: 30%;
        margin: 0 auto !important; }
      #imageModal .imageModalHeader .modalShareHolder {
        display: inline; }
        #imageModal .imageModalHeader .modalShareHolder .modalShare img {
          float: right; }
    #imageModal .imageModalBody {
      padding: 10px;
      font-size: 12px; }
      #imageModal .imageModalBody .imageModalCaption {
        margin: 0;
        font-size: 14px;
        line-height: 22px; }

  .leftArrow, .rightArrow {
    display: none; }

  .reportImageLink {
    font-size: 12px; } }
/* Queries for masonry tiles: 3 tiles */
@media only screen and (min-width: 719px) and (max-width: 946px) {
  #imageContainer {
    margin-left: 4% !important; } }
/* Queries for masonry tiles: 4 tiles */
@media only screen and (min-width: 947px) and (max-width: 1174px) {
  #imageContainer {
    margin-left: 5% !important; } }
/* Medium sized screen */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .logo {
    height: auto; }

  .sort {
    height: auto;
    min-height: 74px; }
    .sort .row .socialLinks {
      display: none !important; }

  .ngModalHolder {
    padding: 0;
    margin-left: -30% !important;
    width: 60% !important;
    top: 1% !important; } }
/* Hide image overlay for screen sizes under 1024px */
@media only screen and (max-width: 64em) {
  .imageOverlay {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
