/* NASA Colors */
$nasa_blue: #21428E;
$nasa_red: #EF402A;

/* Primary Colors */
$dark_blue: #3A516A;
$medium_blue: #4A698E;
$light_blue: #738395;
$black: #000;
$white: #FFF;

/* Accent Color */
$accent_blue: #E4E9EF;

/* Secondary Colors */
$light_grey: #A5A6A7;
$dark_grey: #4C4C4C;

/* Fonts */
$header_font_family: Arial, serif;
$header_font_weight: 300;
$body_font_family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body_font_weight: 300;
$body_font_size: 12px;

/* Section Heights */
$logo_height: 134px;
$sort_height: 74px;

$sort_social_link_padding: 26px;
$sort_social_link_padding_small: 36px;

/* Image sizes */
$image_width_small: 218px;
$image_width_medium: 446px;
$image_width_phone: 290px;

$image_modal_padding: 28px;

body {
	background: $accent_blue;
	font-family: $body_font_family !important;
}

.row{
	max-width: 72.5rem;
}

.top-bar-holder{
	background: $black !important;
	nav {
		background: $black !important;
		ul{
			li{
				background: $black !important;
				a{
					background: $black !important;
					color: $light_grey !important;
					font-size: 13px;
				}
			}
		}
	}
}

.logo{
	background: $light_blue;
	height: $logo_height;
	padding:25.75px 0;
	img {
		height:82.5px;
		width:439px;
	}
	.row span {
		margin-top:58.5px;
		font-size:24px;
		color: $white;
	}
}

.sort{
	background: $medium_blue;
	height: $sort_height;
	.row {
		padding-top:14px;
		* {
			font-weight: bold;
			font-size:18px;
			height:46px;
			line-height:8px;
		}
		.sortLinks{
			a{
				padding-left: $sort_social_link_padding;
				padding-right: $sort_social_link_padding;
			}
			a:not(.socialLink){
				background: $accent_blue;
				color: $medium_blue;
			}
			a:hover:not(.socialLink), a.active{
				background: $light_blue;
				color: $white;
			}
		}
		.socialLinks{
			display:inline;
			.socialLink{
				padding:0;
			}
			.iconRightMargin{
				margin-right:10px;
			}
		}
	}
}

.images{
	background-repeat: no-repeat;
	background-size:100%;
	#imageContainer{
		padding:0 10px;
		margin-top:16px;
		position:relative;
		.image:first-child:not(.featuredImage){
			width: $image_width_small;
			height: $image_width_small;
		}
		.image{
			width: $image_width_small;
			height: $image_width_small;
			margin: 5px;
			padding:0 !important;
			li {
				list-style: none;
			}
		}
		.imageLarge{
			width: $image_width_medium;
			height: $image_width_medium;
		}
		.saluteOverlay{
			position:absolute;
			bottom:5px;
			left:5px;
			color: $accent_blue;
			height:16px;
			font-size:12px;
			z-index:50;
			img {
				margin-right:4px;
				margin-bottom:4px;
				height:12px;
				width:12px;
			}
		}
		.imageOverlay{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			cursor: zoom-in;
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;
			width: 100%;
			height: 100%;
			text-align: center;
			.overlay{
				background: $black;
				opacity: 0.8;
				height: 100%;
			}
			img {
				margin:10px;
				display:inline;
				width:87px;
				opacity: 1.0 !important;
				z-index: 50;
				position:absolute;
				top:0;
			}
			.saluted {
				opacity: 0.5 !important;
			}
			.saluteButton{
				left: 0px;
			}
			.shareButton{
				right: 0px;
			}
		}
	}
	#loadingHolder{
		padding: 0 10px;
		#loadMore{
			text-align: center;
			height: 32px;
			line-height: 32px;
			margin:5px;
			color: $white;
			background: $medium_blue;
		}
	}
}

.reveal-modal{
	background: $accent_blue;
}

.ngModalHolder{
	padding: 0;
	width: 40%;
	top: 1% !important;
}

.reveal-modal:focus {
	outline:none !important;
}

#imageModal{
	padding:0;
	outline:none !important;
	.imageModalHeader{
		background: $light_grey;
		padding: $image_modal_padding;
		.saluted {
			opacity: 0.5 !important;
		}
		.modalShareHolder{
			display: inline;
			.modalShare img{
				float:right;
			}
		}
	}
	.imageModalBody{
		padding: $image_modal_padding;
		.imageModalStats{
			color: $light_grey;
			margin-top:5px;
			img{
				margin-right:4px;
				margin-bottom:4px;
				height:18px;
				width:18px;
			}
		}
		.imageModalCaption{
			margin-top:10px;
			margin-bottom:0px;
			font-size:18px;
			line-height: 26px;
		}
	}
}

.leftArrow{
	position:absolute;
	top:40%;
	left:-70px;
}

.rightArrow{
	position:absolute;
	top:40%;
	right:-70px;
}

.phoneCloseModalButton{
	background: #6c665d;
	padding:10px;
	margin-left:20px;
	margin-right:20px;
}

/* Tablet screen */
@media only screen and (min-width: 40em) and (max-width: 946px){
	.ngModalHolder{
		margin-left: 10%;
		width: 80%;
		min-height:465px !important;
		position:absolute !important;
		overflow:hidden;
	}
	.reportImageButton{
		padding-bottom:15px;
	}
}
/* Phone screen */
@media only screen and (max-width: 40em) {
	.top-bar-holder {
		nav{
			height: 32px;
			ul li a {
				line-height: inherit;
			}
		}
	}

	.logo{
		height:auto;
		.row div {
			text-align: center;
		}
		.row span {
			margin-top:10px;
		}
	}

	.sort{
		height:auto;
		.row {
			padding:14px 0 9px;
			* {
				font-weight: bold;
				font-size:18px;
				height:auto;
				line-height:8px;
			}
			.sortLinks{
				a{
					padding: 10px $sort_social_link_padding_small;
					margin-bottom: 5px;
					display: block;
				}
			}
			.socialLinks{
				display: none;
			}
		}
	}

	.ngModalHolder{
		margin-left: 10%;
		width: 80%;
		min-height:465px !important;
		position:absolute !important;
		overflow-y:scroll;
	}

	.images{
		background: $accent_blue;
		margin: 0 auto;
		max-width: 390px;
		#imageContainer{
			padding:0 10px;
			margin-top:16px;
			.image:first-child{
				width: $image_width_phone !important;
				height: $image_width_phone !important;
			}
			.image, .imageLarge{
				width: $image_width_phone;
				height: $image_width_phone;
				margin: 5px;
				img{
					display: block;
				}
			}
			.saluteOverlay img {
				display:inline-block;
			}
		}
	}

	#imageModal{
		padding:0;
		.imageModalHeader{
			height: auto;
			padding:10px;
			img{
				width:30%;
				margin: 0 auto !important;
			}
			.modalShareHolder{
				display: inline;
				.modalShare img{
					float:right;
				}
			}
		}
		.imageModalBody{
			padding:10px;
			font-size:12px;
			.imageModalCaption{
				margin:0;
				font-size:14px;
				line-height:22px;
			}
		}
	}

	.leftArrow, .rightArrow{
		display: none;
	}

	.reportImageLink{
		font-size:12px;
	}
}

/* Queries for masonry tiles: 3 tiles */
@media only screen and (min-width: 719px) and (max-width: 946px){
 	#imageContainer{
		margin-left:4%!important;
	}
}
/* Queries for masonry tiles: 4 tiles */
@media only screen and (min-width: 947px) and (max-width: 1174px){
 #imageContainer{
		margin-left:5%!important;
	}
}
/* Medium sized screen */
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.logo{
		height:auto;
	}

	

	.sort{
		height:auto;
		min-height: $sort_height;
		.row {
			.socialLinks{
				display: none !important;
			}
		}
	}

	.ngModalHolder{
		padding: 0;
		margin-left: -30% !important;
		width: 60% !important;
		top: 1% !important;
	}

}

/* Hide image overlay for screen sizes under 1024px */
@media only screen and (max-width: 64em){
	.imageOverlay{
		display: none !important;
	}
}